$txt-red: rgb(182, 7, 7);
$txt-white: rgba(255, 255, 255, 0.945);

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.App {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  background-color: rgba(3, 3, 3, 0.966);
  color: $txt-white;
  height: 100vh;
  
  .title {
    font-size: 1.4rem;
    color: $txt-red;
  }

  button {
    background-color: $txt-red;
    color: white;
    margin: 6% 0;
    padding: 6px 30px;
    border: none;
    border-radius: 22px;
    box-shadow: 6px 6px rgb(0, 0, 0);
    transition: transform 1000ms;
    &:hover {
      transform: scale(1.1);  
      cursor: pointer;
    }
  }

  .nav {
    margin: 0;
    padding: 2%;
    flex: 25%;
    border-right: 11px solid white;
    display: flex;
    flex-direction: column;
    
    .note {
      border: 1px solid transparent;
      margin: 3% 0;
      padding: 1%;
      &:hover {
        border: 1px solid white;
      }
    }
  }

  .page {
    margin: 0;
    padding: 0 6%;
    flex: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .NoteDisplay {
      margin: 0;
      padding: 3% 0;
      height: 40vh;
    }
    
    .MarkdownInput {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;

      input {
        padding: 1%;
      }
      textarea {
        width: 100%;
        height: 25vh;
        margin-top: 3%;
        padding: 3%;
      }
    }
  }
}